

  <div class="slide poll-section">
      
    
<header>
  
  <h1>
    Brazil Vaccines <br>
    Webcast Series Part 1
  </h1>

  <p>
    Meningococcal meningitis is a significant health issue in Brazil: <br>
    but what do you think are the main reasons?
  </p>

  <p>Please order the following based on importance</p>

</header>

<section>
  
  <div class="left_col left">
    <ul id="sortable1" class="sort_me">
      <li id="SON_tab" class="grey_tab ui-state-default">
        Inadequate<br>
        vaccination campaign
      </li>

      <li id="E_tab" class="grey_tab ui-state-default">
        Scarce public health<br>
        surveillance
      </li>

      <li id="S_tab" class="grey_tab ui-state-default one-line">Under-diagnosis</li>

      <li id="GI_tab" class="grey_tab ui-state-default one-line">Poor living conditions</li>

    </ul>
  </div>

  <div class="right_col left">
    <ul id="sortable2" class="sort_me">

    </ul>
  </div>

  <div class="arrow"></div>


</section>




  </div>

  
  <div class="slide poll-results-section">
          
  <header>
    
    <h1>
      Brazil Vaccines <br>
      Webcast Series Part 1
    </h1>

    <p>
      Meningococcal meningitis is a significant health issue in Brazil: <br>
      but what do you think are the main reasons?
    </p>

  </header>

  <section>
    
    <div class="results"></div>

    <p class="small">*Rated by patients on a scale of 0 (= ‘none’) to 10 (= ‘severe’). Mean values are presented; †P=0.025 vs placebo</p>
  </section>


  </div>

