
<header>
  
  <h1>
    Brazil Vaccines 
    <br>Webcast Series Part 1
  </h1>

  <p>
    Presentation will start at 10am
  </p>

</header>

<section>

  <div class="img-label">

    <button ng-click="authClient.logout()">Logout</button>
      
    <p>
      Luciano Cesar Ponte Azavedo
    </p>

    <p>
      Research and Education Institute (IEP)<br>
      Hospital Sírio-Libanês<br>
      São Paulo, Brazil
    </p>

  </div>

</section>




<!-- <div class="navigation" ng-if="username === 'dillon.lee@chameleon-uk.com'" ng-controller="NavigationCtrl">
  <button id="moveSectionUp" class="webcastNav">up</button>
  <button id="moveSectionDown" class="webcastNav">down</button>
  <button id="moveSlideLeft" class="webcastNav">left</button>
  <button id="moveSlideRight" class="webcastNav">right</button>
</div>
 -->
  


