
<header>
  
  <h1>
	  Brazil Vaccines <br>
	  Webcast Series Part 1
	</h1>

  <p>
    Thank you for participating in the webcast
  </p>

</header>

<section>
  
	<p class="white-header">Feedback</p>

	<div class="questions-row">
		<p>How useful was this webcast?</p>
		<div class="left">
			<label for="q1a1">
				<input id="q1a1" type="checkbox">
			</label>
			<p>Not useful at all</p>
		</div>
		<div class="left">
			<label for="q1a2">
				<input id="q1a2" type="checkbox">
			</label>
			<p>Partly useful</p>
		</div>
		<div class="left">
			<label for="q1a3">
				<input id="q1a3" type="checkbox">
			</label>
			<p>Quite useful</p>
		</div>
		<div class="left">
			<label for="q1a4">
				<input id="q1a4" type="checkbox">
			</label>
			<p>Very useful</p>
		</div>
		<div class="left">
			<label for="q1a5">
				<input id="q1a5" type="checkbox">
			</label>
			<p>Extremely useful</p>
		</div>
	</div>



	<div class="questions-row">
		<p>How likely are you to integrate this knowledge in your daily practice?</p>
		<div class="left">
			<label for="q2a1">
				<input id="q2a1" type="checkbox">
			</label>
			<p>Not likely at all</p>
		</div>
		<div class="left">
			<label for="q2a2">
				<input id="q2a2" type="checkbox">
			</label>
			<p>Not very likely</p>
		</div>
		<div class="left">
			<label for="q2a3">
				<input id="q2a3" type="checkbox">
			</label>
			<p>Quite likely</p>
		</div>
		<div class="left">
			<label for="q2a4">
				<input id="q2a4" type="checkbox">
			</label>
			<p>Very likely</p>
		</div>
		<div class="left">
			<label for="q2a5">
				<input id="q2a5" type="checkbox">
			</label>
			<p>Extremely likely</p>
		</div>
	</div>



	<div class="questions-row">
		<p>How likely are you to share this knowledge with your colleagues?</p>
		<div class="left">
			<label for="q3a1">
				<input id="q3a1" type="checkbox">
			</label>
			<p>Not likely at all</p>
		</div>
		<div class="left">
			<label for="q3a2">
				<input id="q3a2" type="checkbox">
			</label>
			<p>Not very likely</p>
		</div>
		<div class="left">
			<label for="q3a3">
				<input id="q3a3" type="checkbox">
			</label>
			<p>Quite likely</p>
		</div>
		<div class="left">
			<label for="q3a4">
				<input id="q3a4" type="checkbox">
			</label>
			<p>Very likely</p>
		</div>
		<div class="left">
			<label for="q3a5">
				<input id="q3a5" type="checkbox">
			</label>
			<p>Extremely likely</p>
		</div>
	</div>


</section>


  


